.borrow{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap:20px;
}

.return{
    gap: 20px;
}


.Items h2{
    margin-top: 30px;
    font-size: 50px;
    margin-bottom: 10px;
}

.Items{
    margin: 30px;
}

.itemlist{
    font-size: 20px;
    width: 60%;
    height: 50px;
    padding: 10px;
    border: solid 1px rgb(255, 255, 255);
    gap: 10px;
    border-radius: 10px;
    overflow-block: scroll;
}

.quantity h2{
    font-size: 50px;
    margin-bottom: 10px;
}

.quantityitems{
    font-size: 20px;
    width: 60%;
    height: 50px;
    padding: 10px;
    border: solid 1px rgb(255, 255, 255);
    gap: 10px;
    border-radius: 10px;
}

.btn{
    margin-top: 30px;
    height: 100%;
    width: 30%;
    font-size: 50px;
    background-color: #e96d83;
    border-radius: 20px;
    border: 2px solid aliceblue;
}

@media only screen and (max-width: 1366px) {
.borrow{
    display: flex;
    flex-direction: column;
    gap:20px;
}



.Items h2{
    font-size: 30px;
    margin-bottom: 10px;
}

.itemlist{
    font-size: 20px;
    width: 60%;
    height: 50px;
    padding: 10px;
    border: solid 1px black;
    gap: 10px;
    border-radius: 10px;
}

.quantity h2{
    font-size: 30px;
    margin-bottom: 10px;
}

.quantityitems{
    font-size: 20px;
    width: 60%;
    height: 50px;
    padding: 10px;
    border: solid 1px black;
    gap: 10px;
    border-radius: 10px;
}


.btn{
    height: 10%;
    width: 100%;
    font-size: 30px;
    background-color: #e96d83;
    border-radius: 20px;
}
    
}

@media only screen and (max-width: 1024px) {
.borrow{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.uppertable{
    border-radius: 20px;
    height: 270px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    justify-content: center;
    
}

.Items h2{
    font-size: 40px;
    margin-bottom: 10px;
}

.itemlist{
    font-size: 40px;
    width: 60%;
    height: 50px;
    padding: 10px;
    border: solid 1px black;
    gap: 10px;
    border-radius: 10px;
}

.quantity h2{
    font-size: 40px;
    margin-bottom: 10px;
}

.quantityitems{
    font-size: 20px;
    width: 60%;
    height: 50px;
    padding: 10px;
    border: solid 1px black;
    gap: 10px;
    border-radius: 10px;
}

.lowertable{
    border-radius: 10px;
    height: 10%;
    width: 50%;
    border: 1px white solid;
    padding: 10px;
    margin: 40px auto;
    
}

.btn{
    height: 10%;
    width: 100%;
    font-size: 30px;
    background-color: #e96d83;
    border-radius: 20px;
}
    
}